<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userDao" class="ru.third.inno.task.models.dao.UserDao"></bean>
    <bean id="boardDao" class="ru.third.inno.task.models.dao.BoardDao"></bean>
    <bean id="subjectDao" class="ru.third.inno.task.models.dao.SubjectDao"></bean>
    <bean id="taskDao" class="ru.third.inno.task.models.dao.TaskDao"></bean>
    <bean id="utilsDao" class="ru.third.inno.task.models.dao.UtilsDao"></bean>
    <context:component-scan base-package="ru.third.inno.task"/>

</beans>